---
layout: single
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<div class="publications-menu" role="region" aria-label="Publications list">
  {% assign pubs = site.data.publications.items %}
  {% if pubs and pubs.size > 0 %}
    <ul class="publications-menu__list">
      {% for pub in pubs %}
        <li class="publications-menu__item">
          <h3 class="publications-menu__title">{{ pub.title }}</h3>
          <p class="publications-menu__authors">{{ pub.authors }}</p>
          <p class="publications-menu__journal"><strong>Journal:</strong> {{pub.journal}}</p>
          {% if pub.manuscript_url %}
            <p class="publications-menu__link"><a href="{{ pub.manuscript_url }}" target="_blank" rel="noopener">Link</a></p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Add publications to <code>_data/publications.yml</code> to populate this list.</p>
  {% endif %}
</div>



